@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap");

form {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* This bit draws the box around it */
  border: 1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding: 10px;
}

form > input {
  /* Tell the input to use all the available space */
  flex-grow: 2;

  border: none;
  padding: 0 7px;
}

form > input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}
.nav > input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

form > button {
  /* Just a little styling to make it pretty */

  /* background: blue; */
  border: none;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.nav > img {
  width: 130px;
}

.fa-smile,
.fa-paper-plane {
  font-size: 23px;
}

.home {
  width: 70%;
  margin: auto;
  /* display:block; */
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.icons > i {
  margin: 1em;
}
.nav > input {
  height: 20px;
  border: 5px solid #f6f6f6;
  padding: 2px;
}
.following {
  width: 67.5%;
  border: 1px solid #d1cbcb;
  padding: 10px;
  overflow: auto;
  display: flex;
  height: 70px;
  flex-direction: row;
  margin-top: 40px;
}
.following > .person > img {
  margin: 3px;
  width: 50px;
}
.following::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.following {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.person > p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
.top {
  display: flex;
  /* background-color: red; */
  width: 100%;
  align-items: center;
  padding: 5px;
}

.top > img {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.card {
  margin-top: 30px;
  /* border: 2px solid #ccc; */
}
.comments > strong {
  text-decoration: underline;
}
.comments {
  overflow: auto;
  height: 300px;
}
.comments::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.comments {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card {
  height: 100%;
}
strong {
  font-weight: bolder;
}
.comments {
  width: 100%;
}
.card {
  /* background-color: blue; */
  width: 75%;
}
.middle > img {
  width: 100%;
  object-fit: contain;
}
.middle {
  width: 100%;
  height: 100%;
}

.end {
  padding: 0;
}
.card {
  border-top: 1px solid #d1c8c8;
  border-left: 1px solid #d1c8c8;
  border-right: 1px solid #d1c8c8;
  border-bottom: 1px solid #d1c8c8;
}

.end > i,
p,
p,
strong {
  padding: 10px;
  margin: 0;
}
.comments {
  text-align: start;
}
.login {
  display: flex;
  width: 100%;
}
.login > div > img {
  width: 200px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form > div > img {
  width: 51px;

  height: 32px;
}
.form > div {
  display: flex;
}

.login > div {
  border: 1px solid #d1c8c8;
}
.login > img {
  width: 50vh;
}
.login {
  justify-content: center;
  gap: 90px;
}
.login > div {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.form {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}
.form > input {
  padding: 7px;
}
.form > button {
  margin-top: 10px;
  background-color: #0095f6;
  border: none;
  color: white;
  padding: 8px;
}

.form > input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}
.form > p {
  text-align: center;
}
.form > div {
  text-align: center;
  display: flex;

  align-items: center;
}
.login > div {
  height: min-content;
}

.login {
  align-items: center;
}
.user > i {
  font-size: 70px;
  padding: 50px;
  background-color: #dbdbdb;
  border-radius: 50%;
}
#circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: blue;
}
.user {
  display: flex;

  margin: auto;
  justify-content: center;
  /* background-color:red */
}

.user > div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
hr {
  border-top: 1px solid #d1c8c8;
}
.user > div div:nth-of-type(1) {
  display: flex;
}
.user > div div:nth-of-type(2) {
  display: flex;
}
.user {
  padding: 40px;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

/* .img > div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.img > div > img {
  width: 22%;
  height: 234px;
} */
.plus {
  display: none;
  position: absolute;
  top: 28%;
  left: 38%;
  background-color: white;
  min-width: 20%;
  padding: 70px 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0);
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.plus > button {
  width: 90px;
  background-color: #0095f6;
  padding: 10px;
  color: white;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}
.plus > img {
  width: 68px;
}

.none {
  display: flex;
}
.fa-plus {
  cursor: pointer;
}
.hide {
  visibility: hidden;
}
.block {
  display: block;
}
.video {
  width: 100%;
  display: none;
  position: absolute;
}
.show {
  display: block;
}
.btn {
  /* margin-top: 10px; */
  background-color: #0095f6;
  border: none;
  color: white;
  padding: 8px;
}

.form > div {
  justify-content: center;
}
button {
  cursor: pointer;
}
.n {
  display: none;
}
.insta {
  display: none;
}
.image {
  position: absolute;
  top: 38%;
  left: 45%;
  background-color: white;
  width: 100px;
}
.img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.img > div {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 10px;
  row-gap: 43px;
  width: 70%;
  margin-bottom: 200px;
}
.img > div > img {
  text-align: center;
  width: 100%;

  object-fit: contain;
}
#user-image {
  width: 143px;
  height: 143px;
  margin-left: 0;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}
#out {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  border: none;
  background-color: #0095f6;
  padding: 10px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 700;
  color: white;
}
.wrapper {
  max-width: 200px;
  margin: auto;
}
.wrapper .search-input {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.search-input input {
  height: 32px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 13px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0, 0.1);
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;

  cursor: default;
  border-radius: 3px;
  display: block;
}
.autocom-box li:hover {
  background-color: #efefef;
}
.search-input.active .autocom-box {
  padding: 10px 0px;
  opacity: 1;
  pointer-events: auto;
}
.search-input.active .autocom-box li {
  display: block;
}

.autocom-box {
  position: absolute;
  top: 9%;
  right: 43%;
  background-color: white;
  width: 330px;
  border-radius: 5px;
  overflow-y: auto;
  height: 300px;
  display: none;
}

.autocom-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.autocom-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.active {
  display: block;
}
.fa-xmark {
  float: right;
  padding: 5px;
  cursor: pointer;
}
.logo {
  display: flex;
  margin: auto;
  padding: 15px;
  align-items: center;
}
.logo > i {
  margin-left: 10px;
}
#follow {
  margin: 5px;
  border: none;
  background-color: #0095f6;
  padding: 3px 15px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 700;
  color: white;
}
#unfollow {
  margin: 5px;

  background-color: white;
  padding: 3px 15px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 700;
  color: black;
  border: 1px solid #dbdbdb;
}
.op {
  padding: 10px;
}
